# Python
*.pyc
__pycache__/

# Virtual environments
venv/
.venv/
env/

# Database
db.sqlite3

# Environment variables
.env
.local

# IDEs and editors
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Static collected files
/staticfiles/